<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Authentication</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <h3>Sign In</h3>

    <form action="/signin" method="post">

      {% csrf_token %}

      <label for="">Enter Your Username</label>
      <input type="text" id="username" name="username" placeholder="Create your username"  Required>
      <br>

      <label for="">Enter your Password</label>
      <input type="password" id="pass1" name="pass1" placeholder="Enetr your password"  Required>
      <br>

      
      
      <button type="submit">Sign Up</button>
    </form>
  
	<script src="index.js"></script>
  </body>
</html>
